.matrix-container{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}
.matrix{
  margin: 2px;
  border:2px solid white;
  cursor: pointer;
  border-radius: 5px;
}
